body {
  background-color: lightblue;
  padding : 25px
}
img {
  border: 2px solid black;
  margin: 50px;
  width : 300px;
  float: left;
}
p2 {
    font-weight: 900;
    font-size: 200%;
}
p {
    padding-left : 25px
}